/.* export-ignore
/contrib export-ignore
/doc export-ignore
/examples export-ignore
/resources export-ignore
/tests export-ignore
/CHANGELOG-*.md export-ignore
/phpda.yml.dist export-ignore
/phpunit.xml export-ignore
